:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr:#181818;
  --liClr:whitesmoke;
  --accClr:#0D0D35;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,body{
    height:100%
  }

  body{
    background-color: var(--dkClr);
    color: var(--liClr);
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
  }

  #timerDisplay, #scoreDisplay {
    font-size: 25px;
    color: var(--liClr);
}

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 80px;
  }

  main{
    flex:1;
    display: flex;
  }

  #gameCanvas{
    border: 1px solid red; /* border */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the canvas */
    display: flex;
    z-index: 1;
  }

  .gameUI{
    width: 100vw;
    height: 100vh;
    background-color: var(--accClr);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    z-index:2;
  }

  .gameUI * {
    text-align: center;
    margin-top: 5px;
  }

  #gameStartDiv{
    display: flex
  }

  #gameEndDiv{
    display: none;
  }

  #gameStartBtn{
    display: inline-block;
    width: 100px;
    padding:8px 15px;
    margin:20px 0;
    text-align: center;
    font-family: inherit;
    border-radius: 10px;
  }

  #gameStartBtn p{
    margin-top: 0;
  }

  #gameStartBtn:hover{
    background-color: var(--dkClr);
    border: 0.5px solid var(--liClr);
    color: var(--liClr);
    cursor:pointer;
  }


}